.top_nav {
  background: #212326;
  display: flex;
  justify-content: space-between;
}

.title_div {
  display: flex;
  flex-direction: column;
}

.title{
    color: var(--color-text-secondary);
}

.lastSync{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #BDBDBD;
}

.time{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #27AE60;
}

.search_div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
}